<div class="container transition fadeIn" data-transition-duration="2s" id="service-categories">
  <div class="row">
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
      <!-- <div class="service-detail transition fadeIn" data-transition-duration="2s" data-transition-delay="0"> -->
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/home-caregiver.png"></img> -->
            <%= image_tag "home-caregiver.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Home Caregiver</h4>
            <p class="service-description">
              Provides personal care in a home environment, assisting with a variety of activities of daily living, housework, medical escort, and more. 

            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.7s">
      <!-- <div class="service-detail transition fadeIn" data-transition-duration="2s" data-transition-delay="0.5s"> -->
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/housekeeper.png"></img> -->
            <%= image_tag "housekeeper.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Housekeepers</h4>
            <p class="service-description">
              Performs any combination of cleaning duties to maintain private households or commercial establishments. 

            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.9s">
      <!-- <div class="service-detail transition fadeIn" data-transition-duration="2s" data-transition-delay="1s"> -->
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/factory.png"></img> -->
            <%= image_tag "factory.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Factory Workers</h4>
            <p class="service-description">
              work in industrial units where they operate machines to create products. 

            </p>
          </class>
        </class>
      </div>
    </div>
  </div>
  <div class="row" id="services-row-two">
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.1s">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/hospital.png"></img> -->
            <%= image_tag "hospital.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Hospital Caregivers</h4>
            <p class="service-description">
              Assists patients with basic tasks, such as bathing, dressing and eating; preparing and administering some medications in a hospital setting.

            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.3s">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/construction.png"></img> -->
            <%= image_tag "construction.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Construction Worker</h4>
            <p class="service-description">
              Repairs and builds a variety of structures, buildings, highways, roads, and bridges.
            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.5s">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <!-- <img src="assets/fisher.png"></img> -->
            <%= image_tag "fisher.png" %>
          </class>
          <class class="col-md-10">
            <h4 class="service-title">Agriculture Workers</h4>
            <p class="service-description">
             maintains the quality of farms, crops, and livestock by operating machinery and doing physical labor under the supervision.
            </p>
          </class>
        </class>
      </div>
    </div>
  </div>
</div>