<%= render "header" %>
<div class="page-content transition fadeIn" data-transition-duration="1.5s" id="service-page-content">
	<%= render "categories" %>
	<%= render "recruitment" %>
	<%= render "join_us" %>
</div>
<%= javascript_tag do %>
  new ScrollTransition().init();
  initNavbarState();
<% end %>