<%= javascript_tag do %>
  new ScrollTransition().init();
  initNavbarState();
<% end %>
<%= render 'header' %>
<div class="page-content transition fadeIn" data-transition-duration="1.5s" id="partnership-page-content">
  <%= render 'hiring_steps' %>
  <%= render 'establish_partnership' %>
  <%= render 'become_partners' %>
</div>