<!-- This is a hack to restart wow.js animation. Need page specific js -->
<%= javascript_tag do %>
  new ScrollTransition().init();
<% end %>

<%= render 'header' %>
<div class="page-content transition fadeIn" data-transition-duration="2s"  id="service-page-content">
  <%= render 'hiring_steps_two_col' %>
  <%= render 'establish_partnership' %>
  <%= render 'become_partners' %>
</div>