<footer class="footer">
	<div class="footer-content">
	  <div class="footer-links pull-left">
	    <%=link_to'CONTACT', "#"%>
	    <%=link_to "PRIVACY POLICY", "#" %>
	  </div>
	  <div class="footer-social pull-right">
	    <%=link_to "#" do%>
	    	<i class="fa fa-twitter"></i>
	    <% end %>
	    <%=link_to "#" do%>
	    	<i class="fa fa-facebook"></i>
	    <% end %>
	    <%=link_to "#" do%>
	    	<i class="fa fa-google-plus"></i>
	    <% end %>
	  </div>
  </div>
</footer>