<header class="navbar">
	<div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">
	    	<%= image_tag "logo_black.png" %>
	    </a>
	  </div>

	  <div class="navbar-class">
	      <ul class="nav navbar-nav pull-right">
	        <li><%=link_to "ABOUT", "about"%></li>
	        <li><%=link_to "SERVICES", "services" %></li>
	        <li><%=link_to "PARTNERSHIP", "partnership" %></li>
	        <li><%=link_to'CONTACT', "contact"%></li>
	      </ul>
	  </div>
	</div>
</header>